@using MetaMask.Blazor
@inject NavigationManager navigation

<CascadingBlazoredModal>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingBlazoredModal>

@code {

    [Inject]
    public MetaMaskService MetaMaskService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        MetaMaskService.AccountChangedEvent += MetaMaskService_AccountChangedEvent;
        await MetaMaskService.ListenToEvents();
        await base.OnInitializedAsync();
    }

    private async Task MetaMaskService_AccountChangedEvent(string arg)
    {
      navigation.NavigateTo("index", true);
    }
}
